{% extends 'base/container.html.twig' %}
{% trans_default_domain 'user' %}

{% block content %}
    <div class="max-w-4xl">
        <div class="mb-10">
            <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
                {{ 'Create an account'|trans }}
            </h2>
            <p class="text-sm text-gray-600 dark:text-neutral-400">
                {{ 'Provide required information to create a new account'| trans }}
            </p>
        </div>

        {{ form_start(create_form) }}

        <div class="grid gap-y-5">
            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12 md:col-span-3">{{ form_label(create_form.name) }}</div>
                <div class="col-span-12 md:col-span-9">{{ form_widget(create_form.name) }}</div>
            </div>

            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12 md:col-span-3">{{ form_label(create_form.emailAddress) }}</div>
                <div class="col-span-12 md:col-span-9">{{ form_widget(create_form.emailAddress) }}</div>
            </div>

            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12 md:col-span-3">{{ form_label(create_form.roles) }}</div>
                <div class="col-span-12 md:col-span-9">{{ form_widget(create_form.roles) }}</div>
            </div>

            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12 md:col-span-3">{{ form_label(create_form.active) }}</div>
                <div class="col-span-12 md:col-span-9">{{ form_widget(create_form.active) }}</div>
            </div>

            <div class="grid grid-cols-12 gap-x-4">
                <div class="col-span-12 md:col-span-3">{{ form_label(create_form.plainPassword.first) }}</div>
                <div class="grid gap-y-4 col-span-12 md:col-span-9">
                    {{ form_widget(create_form.plainPassword.first) }}
                    {{ form_widget(create_form.plainPassword.second) }}
                </div>
            </div>
        </div>

        <div class="mt-5 flex justify-end gap-x-2">
            <twig:Link:Button href="{{ path('user') }}" variant="outline">{{ 'Cancel'|trans({}, 'messages') }}</twig:Link:Button>
            <twig:Button type="submit">{{ 'Save changes'|trans({}, 'messages') }}</twig:Button>
        </div>

        {{ form_end(create_form) }}
    </div>
{% endblock %}
