{% extends 'base/container.html.twig' %}

{% block content %}
    {{ form_start(filter_form) }}
    <div class="grid grid-cols-12 gap-x-2">
        <div class="col-span-2">{{ form_row(filter_form.client) }}</div>
        <div class="col-span-2">{{ form_row(filter_form.measurement) }}</div>
        <div class="col-span-2">{{ form_row(filter_form.level) }}</div>

        <div class="grid grid-cols-3 gap-x-2 col-span-5">
            <div>
                {{ form_row(filter_form.startDate) }}
            </div>
            <div class="mt-7">
                {{ form_row(filter_form.endDate) }}
            </div>
            <div class="mt-7">
                {{ form_row(filter_form.quickRange) }}
            </div>
        </div>

        <div class="col-span-1 mt-7">
            <twig:Button type="button" name="filter[submit]" class="w-full">Submit</twig:Button>
        </div>
    </div>


    {{ form_end(filter_form) }}

    <div id="table">Loading data..</div>
{% endblock %}
{% block importmap %}
    {{ importmap(['application', 'module.dashboard'], {'data-table-config': tabulator_config(table)}) }}
{% endblock %}
