{% trans_default_domain 'navigation' %}

<nav class="relative max-w-[85rem] w-full mx-auto md:flex md:items-center md:gap-3 px-4 sm:px-6 lg:px-8">
    <div id="hs-secondary-navbar" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block" aria-labelledby="hs-secondary-navbar-collapse">
        <div class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
            <div class="py-2 md:py-0 flex flex-col md:flex-row md:items-center gap-y-0.5 md:gap-y-0 md:gap-x-6">

                {% set mainMenu = knp_menu_get(menu) %}
                {% set currentItem = knp_menu_get_current_item(menu) %}
                {% for item in mainMenu.children %}

                    {# Check if current item has children #}
                    {% if item.children is iterable and item.children|length > 0 %}
                        <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] [--is-collapse:true] md:[--is-collapse:false] ">
                            <button type="button" class="hs-dropdown-toggle w-full py-2 md:py-0 flex items-center font-medium text-sm text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                                <svg class="shrink-0 size-3 me-3 md:me-2 block md:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                                </svg>
                                {{ item.label|trans }}
                                <svg class="hs-dropdown-open:-rotate-180 md:hs-dropdown-open:rotate-0 duration-300 shrink-0 size-4 ms-auto md:ms-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m6 9 6 6 6-6"></path>
                                </svg>
                            </button>

                            <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 relative w-full md:w-52 hidden z-10 top-full ps-7 md:ps-0 md:bg-white md:rounded-lg md:shadow-md before:absolute before:-top-4 before:start-0 before:w-full before:h-5 md:after:hidden after:absolute after:top-1 after:start-2 after:w-0.5 after:h-[calc(100%-0.25rem)] after:bg-gray-100 dark:md:bg-neutral-800 dark:after:bg-neutral-700" role="menu" aria-orientation="vertical" aria-labelledby="hs-secondaru-navbar-dropdown">
                                <div class="py-1 md:px-1 space-y-0.5">

                                    {% for child in item.children %}
                                        <a href="{{ child.uri }}" class="py-1.5 md:px-2 flex items-center text-sm text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500">
                                            {{ child.label|trans }}
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% else %}

                        {# https://symfony.com/bundles/ux-twig-component/current/index.html#component-with-complex-variants-cva #}
                        {% set itemClassName = cva({
                            base: 'py-2 md:py-0 flex items-center font-medium text-sm focus:outline-none',
                            variants: {
                                status: {
                                    default: 'text-gray-800 hover:text-gray-500 focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500',
                                    current: 'text-blue-600 focus:text-blue-600 dark:text-blue-500 dark:focus:text-blue-500',
                                }
                            }
                        }) %}
                        <a href="{{ item.uri }}" class="{{ itemClassName.apply({status: item == currentItem ? 'current' : 'default'}) }}">
                            <svg class="shrink-0 size-3 me-3 md:me-2 block md:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                            </svg>
                            {{ item.label|trans }}
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</nav>
